Repository prgrms-web-devcourse-final-project/WEB1_2_Mallangs_FE, pull requests merged in 2024-11, with the labels that each got.

#3 M_001 : 기초 스타일시트 추가
  index.html
  public/fonts/SUIT-Variable.woff2
  public/fonts/_public-fonts.md
  public/images/_public-images.md
  public/miscs/_public-miscs.md
  public/miscs/remixicon.symbol.svg
  public/vite.svg
  src/App.css
  src/App.jsx
  src/assets/images/_images.md
  src/assets/images/unknown-user.jpg
  src/assets/miscs/_miscs.md
  src/assets/react.svg
  src/assets/stylesheets/abstracts/_functions.scss
  src/assets/stylesheets/abstracts/_keyframes.scss
  src/assets/stylesheets/abstracts/_variables.scss
  src/assets/stylesheets/base/_default.scss
  src/assets/stylesheets/components/_buttons.scss
  src/assets/stylesheets/components/_customAlert.scss
  src/assets/stylesheets/components/_formElements.scss
  src/assets/stylesheets/components/_spinLoader.scss
  src/assets/stylesheets/helpers/_utils.scss
  src/assets/stylesheets/layouts/_commons.scss
  src/assets/stylesheets/layouts/_footers.scss
  src/assets/stylesheets/layouts/_headers.scss
  src/assets/stylesheets/layouts/_mainPage.scss
  src/assets/stylesheets/style.css
  src/assets/stylesheets/style.scss
  src/assets/stylesheets/themes/_darkScheme.scss
  src/assets/stylesheets/themes/_defaultColor.scss
  src/assets/stylesheets/themes/_lightScheme.scss
  src/assets/stylesheets/vendors/_normalize.scss
  src/assets/stylesheets/views/_login.scss
  src/assets/stylesheets/views/_myPage.scss
  src/assets/stylesheets/views/_register.scss
  src/index.css
  src/main.jsx
Labels: 🌈 Style

#6 공통 컴포넌트 마크업
  package-lock.json
  package.json
  src/assets/images/element-empty-star.svg
  src/assets/images/element-full-star.svg
  src/assets/images/icon-arrow.svg
  src/assets/images/icon-checked.svg
  src/assets/images/icon-user.svg
  src/assets/stylesheets/components/_receiveChat.scss
  src/assets/stylesheets/components/_sendChat.scss
  src/assets/stylesheets/components/_starRating.scss
  src/assets/stylesheets/style.css
  src/assets/stylesheets/style.scss
  src/components/common/ReceiveChatItem.jsx
  src/components/common/SendChatItem.jsx
  src/components/common/StarRating.jsx
  vite.config.js
Labels: 🛠️ Feat

#32 말랑이 Setting 컴포넌트 마크업 및 공통 컴포넌트 CSS 수정
  src/assets/images/icon-calendar.svg
  src/assets/images/icon-female.svg
  src/assets/images/icon-genderless.svg
  src/assets/images/icon-information.svg
  src/assets/images/icon-male.svg
  src/assets/images/icon-user-nametag.svg
  src/assets/stylesheets/components/_nametag.scss
  src/assets/stylesheets/components/_receiveChat.scss
  src/assets/stylesheets/components/_sendChat.scss
  src/assets/stylesheets/components/_settingMallangs.scss
  src/assets/stylesheets/components/_starRating.scss
  src/assets/stylesheets/style.css
  src/assets/stylesheets/style.scss
  src/components/common/NameTag.jsx
  src/components/common/ReceiveChatItem.jsx
  src/components/common/SendChatItem.jsx
  src/components/common/SettingMallangs.jsx
  src/components/common/StarRating.jsx
Labels: 🛠️ Feat, 🌈 Style

#33 M_001: 말랑맵 기본 레이아웃
  .gitignore
  package-lock.json
  package.json
  src/assets/images/empty-list.svg
  src/assets/stylesheets/components/_areaInfoPanel.scss
  src/assets/stylesheets/components/_buttons.scss
  src/assets/stylesheets/components/_dropdown.scss
  src/assets/stylesheets/components/_emptyList.scss
  src/assets/stylesheets/components/_formElements.scss
  src/assets/stylesheets/components/_mainModal.scss
  src/assets/stylesheets/components/_mainModalCover.scss
  src/assets/stylesheets/components/_mallangsItem.scss
  src/assets/stylesheets/components/_notificationCard.scss
  src/assets/stylesheets/components/_userProfileCard.scss
  src/assets/stylesheets/layouts/_commons.scss
  src/assets/stylesheets/layouts/_footers.scss
  src/assets/stylesheets/pages/_loginPage.scss
  src/assets/stylesheets/pages/_mallangMap.scss
  src/assets/stylesheets/pages/_myPage.scss
  src/assets/stylesheets/pages/_registerPage.scss
  src/assets/stylesheets/style.css
  src/assets/stylesheets/style.scss
  src/assets/stylesheets/themes/_defaultColor.scss
  src/components/MainModal.jsx
  src/components/MallangMap.jsx
  src/components/common/Dropdown.jsx
  src/components/common/DropdownSelector.jsx
  src/components/common/EmptyList.jsx
  src/components/common/MainModalCover.jsx
  src/components/common/MallangItem.jsx
  src/components/layout/AreaInfoPanel.jsx
  src/components/layout/BaseLayout.jsx
  src/components/layout/Footer.jsx
  src/components/layout/Header.jsx
  src/components/layout/NotificationCard.jsx
  src/components/layout/TotalSearch.jsx
  src/components/layout/UserProfileCard.jsx
  src/datas/temp-area-information.json
  src/datas/temp-notification-messages.json
  src/datas/temp-notification-replies.json
  src/datas/temp-options-list.json
Labels: 🛠️ Feat, 🌈 Style

#35 사용자 위치 컴포넌트 마크업
  src/assets/stylesheets/components/_searchUserLocation.scss
  src/assets/stylesheets/components/_userLocationMap.scss
  src/assets/stylesheets/style.scss
  src/components/common/SearchUserLocation.jsx
  src/components/common/UserLocationMap.jsx
Labels: 🛠️ Feat

#39 M_002 / 말랑맵과 주 모달의 공통 컴포넌트 마크업
  index.html
  public/fonts/Ownglyph-PDH.ttf
  public/images/cursor.png
  router.jsx
  src/assets/stylesheets/abstracts/_keyframes.scss
  src/assets/stylesheets/base/_default.scss
  src/assets/stylesheets/components/_areaInfoPanel.scss
  src/assets/stylesheets/components/_articleItem.scss
  src/assets/stylesheets/components/_chatItem.scss
  src/assets/stylesheets/components/_dropDownSelector.scss
  src/assets/stylesheets/components/_formElements.scss
  src/assets/stylesheets/components/_mainModal.scss
  src/assets/stylesheets/components/_mainModalCover.scss
  src/assets/stylesheets/components/_mallangsItem.scss
  src/assets/stylesheets/components/_markerCategory.scss
  src/assets/stylesheets/components/_modalFormInput.scss
  src/assets/stylesheets/components/_nametag.scss
  src/assets/stylesheets/components/_notificationCard.scss
  src/assets/stylesheets/components/_replyItem.scss
  src/assets/stylesheets/components/_reviewItem.scss
  src/assets/stylesheets/components/_starRating.scss
  src/assets/stylesheets/components/_totalSearch.scss
  src/assets/stylesheets/layouts/_commons.scss
  src/assets/stylesheets/layouts/_footers.scss
  src/assets/stylesheets/layouts/_headers.scss
  src/assets/stylesheets/pages/_loginPage.scss
  src/assets/stylesheets/pages/_registerPage.scss
  src/assets/stylesheets/style.css
  src/assets/stylesheets/style.scss
  src/components/MainModal.jsx
  src/components/MallangMap.jsx
  src/components/common/ArticleItem.jsx
  src/components/common/ChatItem.jsx
  src/components/common/EmptyList.jsx
  src/components/common/MainModalCover.jsx
  src/components/common/MallangItem.jsx
  src/components/common/ModalDateSeparator.jsx
  src/components/common/ModalFormInput.jsx
  src/components/common/ModalInstruction.jsx
  src/components/common/ModalSectionTitle.jsx
  src/components/common/NameTag.jsx
  src/components/common/ReplyItem.jsx
  src/components/common/ReviewItem.jsx
  src/components/common/ReviewTotalScore.jsx
  src/components/common/SendChatItem.jsx
  src/components/common/SignatureImage.jsx
  src/components/common/StarRating.jsx
  src/components/layout/AreaInfoPanel.jsx
  src/components/layout/BaseLayout.jsx
  src/components/layout/Header.jsx
  src/components/layout/MarkerCategory.jsx
  src/components/layout/NotificationCard.jsx
  src/components/layout/TotalSearch.jsx
  src/components/layout/UserProfileCard.jsx
  src/pages/ComponentMuseum.jsx
  src/pages/ErrorPage.jsx
  src/pages/LoginPage.jsx
  src/pages/RegisterPage.jsx
Labels: ♻️ Refactor, 🌈 Style
